@import "tailwindcss";

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 4px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }
}